<h1>Detalhes do Usuário</h1>

<p><strong>Nome:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<%= link_to 'Editar', edit_user_path(@user) %>
<%= link_to 'Voltar', users_path %>

<%= form_with(model: @user, method: :delete, local: true) do |form| %>
  <div>
    <%= form.submit 'Deletar', class: 'btn btn-danger' %>
  </div>
<% end %>
